{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 3 version", "ie >= 11"]
      },
      "useBuiltIns": "entry",
      "debug": true
    }]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
